code.hljs {
    background: #f8f8f8;
    padding: 20px;
}

table.specs {
    width: 100%;
    border-spacing: 0;
}

table.specs,
table.specs td,
table.specs th {
    text-align: center;
    border: #eee 1px solid;
}

table.specs {
    border-bottom:0;
    border-left:0;
}
table.specs td, table.specs th {
    border-top:0;
    border-right:0;
}

table.specs th,
table.specs td {
    height: 60px;
}

table.specs.short-rows td {
    height: 40px;
}

table.specs.five-even-columns td {
    width: 20%;
}

table.specs.six-even-columns td {
    width: 16.675%;
}

table.specs .not-displayed {
    background: rgba(192,48,48,0.1);
    color: #c03030;
}